.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.table {
  background: #fff;
  border: 1px solid var(--border-color-subtle);
  border-radius: var(--border-radius-lg);
  padding: 1.5rem 2rem;
  border-spacing: 0;
}

.th {
  color: var(--color-body-text-alt);
  font-weight: 400;
  text-align: left;
  padding: 1rem 0;
}

.tr td {
  border-top: 1px solid var(--border-color-tr);
  padding: 1.5rem 0;
}

.icon_button {
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
}
.row_action_container {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
}

.modal_container {
  background-color: var(--color-modal-bg);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  min-height: 220px;
  min-width: 32rem;
  border-radius: var(--border-radius-lg);
  background-color: var(--color-lightest);
  padding: 2rem;
  margin: 1rem;
}

.modal_close {
  position: fixed;
  top: 2rem;
  margin-left: 40rem;
}

.form_modal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.title_emphasis {
  text-align: center;
}
