.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.title_emphasis {
  text-align: center;
}

.delete_actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
