.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form_label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--color-body-text-alt);
}

.form_input {
  border: 2px solid var(--border-color-input);
  border-radius: var(--border-radius-sm);
  font-size: var(--text-md);
  line-height: 1.25;
  padding: 0.875rem 0.75rem;
}

.input_error {
  color: var(--color-error);
}

.label_error {
  border-color: var(--color-error);
}
